
<!-- Toolbar -->

 <ul class="nav nav-tabs">
    <li class="nav-item">
      <img width="50" alt="Angular Logo" src="../assets/flat.jpg"/>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-label="Home" target="_self" rel="noopener"  [routerLink]="['/']" title="Home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-label="Bank Info" target="_self" rel="noopener"  [routerLink]="['/bank-app']" title="Bank Info">Bank Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-label="Account Information" target="_self" rel="noopener" [routerLink]="['/account-app']" title="Account Info">Account Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-label="Monthly Bills" target="_self" rel="noopener" [routerLink]="['/monthly-bills']" title="Monthly Bills">Monthly Bills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-label="Angular Code" target="_self" rel="noopener" [routerLink]="['/AngularHelp']" title="Angular Code">Angular Code</a>
    </li>
  </ul>
